* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;    
}

/* Header */

.head{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 1280px;
    margin: 16px auto;
}
.menu {
    display: flex;
    flex-flow: wrap;
    list-style: none;
    padding: 14px 32px;
}
nav ul li {
    margin: 0 32px;
    cursor: pointer;
}
.action {
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    color: #F58A07;
    padding: 17px 30px;   
}

/* Section 1*/

.section1 {
    background: #DCEAF5;
 
}

.container1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;     
}


.part1 {
    margin-top: 117px;
    margin-bottom: 147px;
}

.part2 {
    margin-right: 232px;
    margin-top: 85px;
}

.part1 h1 {
    width: 576px;
    height: 144px;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1D3444;
    margin-bottom: 12px;
}

.p1 {
    width: 571px;
    height: 60px;   
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-bottom: 32px;
}
.ourservices {
    width: 199px;
    height: 54px;
    background: #F58A07;
    border-radius: 27px;
    font-size: 16px;
    padding: 18px 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 56px;
    
}
.top {
    margin-bottom: 56px;
}


.p2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #1D3444;
}

.p3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(57, 65, 73, 0.5);
    margin-bottom: 27px;

}

.logo1 {
    margin-right: 45px;
}

.logo2 {
    margin-right: 45px;
}
.section1 span {
    padding-left: 40px;
}



/* Section 2 */



.section2 {
    display: flex;
    flex-wrap: wrap;
}
.container2 {
    max-width: 1280px;
    margin: 96px auto;
}

.section2 h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #1D3444;
    width: 735px;
    height: 112px;
    margin-bottom: 27px;
} 
.head2 p {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    width: 735px;
    height: 90px;
    margin-bottom: 64px;
}
.head2  {
    display: block;
}
.content {
    display: flex;
    justify-content: center;
}

.section2 img {
    border-radius: 20px;
    margin-bottom: 33px;
}

.section2 h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0D1317;
    width: 257px;
    height: 30px;
    margin-bottom: 17px;
}
.call p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    width: 399px;
    height: 84px;
    margin-bottom: 24px;
}
a {
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
}
.aa {
    flex: 1;
    margin-right: 40px;
}
.ab {
    flex: 1;
}
.ac {
    flex: 1;
    margin-left: 40px;
}

.section2 a::after {
    content: "\2192";
}

/* section3 */

.section3 {
    background: #EDF7FF;
    display: flex;
}

.container3 {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin: 96px auto;
   

}
.head3 h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #0D1317;
    width: 619px;
    height: 132px;
    margin-right: 40px;
}
.head3 p {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #1D3444;
    width: 620px;
    height: 102px;
    
}
.head3 {
    display: flex;
    justify-content: space-between;
}
.body3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.b1 {
    flex: 1;
    background: #FFFFFF;
    border-radius: 20px;
    height: 277px;
    max-width: 401px;
}

/* section4 */
.section4 {
    /* display: flex;
    justify-content: space-between; */
    background-color: violet;
}
.container4 {
    max-width: 1280px;
    display: flex;
    background-color: blue;
    justify-content: space-between;
    /* flex-wrap: wrap;*/
     margin: 96px auto; 
}
.side4 {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: teal;
    width: 596px;
    /* margin-right: 40px; */
}
.sec4a h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    width: 596px;
    height: 157px;
    margin-bottom: 32px;
}
.sec4a p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    width: 510px;
    height: 120px;
}
.sec4b h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #F58A07;
    width: 66px;
    height: 50px;
    margin-bottom: 16px;
}
.sec4b h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0D1317;
    width: 195px;
    height: 26px;
    margin-bottom: 16px;
}
.sec4b p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    width: 264px;
    height: 84px;
}
#sec4part1 {
    margin-bottom: 32px;
}
#sec4part2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}
.img {
    background: url("about-image.png");
    max-width: 640px;
    height: 640px;
    /* position: absolute; */
    border-radius: 20px;
}
.blendcolor {
    position: absolute;
    top: 0;
    background: #F58A07;
    mix-blend-mode: multiply;
    width: 153px;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#sec4part3 {
    position: relative;
    width: 640px;
    height: 640px;
    /* flex: 1; */
    background-color: orange;
}
